<header>
      <div class="header-top w-full h-10 bg-[#000]  flex items-center justify-center">
        <p class="text-p text-Neutral/White/W900">Get 25% OFF on your first order. Order Now</p>
      </div>
  <div class="container">
    <div class="header-inner w-full h-full">
      <div class="header-bottom h-20 flex items-center justify-between max-tabletMax:justify-center">
        <img [src]="logo" alt="Logo" width="163px" height="41px" routerLink="/" class="cursor-pointer">
        <nav class="max-tabletMax:hidden">
          <ul>
            <li class="flex gap-8">
              <a routerLink="/">Home</a>
              <a>Category</a>
              <a>About</a>
              <a href="">Contact</a>
            </li>
          </ul>
        </nav>

        <div class="right flex items-center gap-2 max-[875px]:hidden">
          <div class="inputs">
            <input type="text" placeholder="search...">
          </div>
          <mat-icon class="text-Neutral/Black/B500">shopping_cart</mat-icon>
          <mat-icon class="text-Neutral/Black/B500">account_circle</mat-icon>
        </div>
      </div>
    </div>
  </div>
</header>
