@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark-theme-body: #0e0e0e;
  --dark-theme-block: #1a1a1a;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.container{
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

a, li {
  list-style-type: none;
  text-decoration: none;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
}

h1{
  font-size: 40px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark{
  background: var(--dark-theme-body);
  color: #fff;

  header{
    background: var(--dark-theme-block);
  }

  .fresh{
    background: var(--dark-theme-block);
  }

  .features-inner{
    .icon{
      color: #000;
    }
  }

  .fashion{
    background: var(--dark-theme-block);
  }

  footer{
    .top{
      background: var(--dark-theme-block);
    }
  }

  .clothes{
    .img{
      background: var(--dark-theme-block);
    }
  }

  .single-product{
    .single-product__inner{
      .img{
        background: var(--dark-theme-block);
      }

      .content{
        input{
          color: #000;
        }
      }
    }
  }

  table{
    th{
      color: #ffff;
    }
    td{
      color: #fff;
    }
  }
}
